.dash-container{
    display: grid;
    grid-template-columns: repeat(2,600px);
}
.dash-text{
    margin-left: 150px;
    margin-top: 250px;
}
.dash-text-note{
    font-weight: bold;
}
.dash-img{
    height: 600px;
    width: 600px;
    margin-left: 100px;
    
    }
.dash-img-div{
    margin-top: 20px;
}