.bg-color{  
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&family=Noto+Serif+NP+Hmong:wght@500&family=Poppins:ital,wght@1,300&family=Roboto:ital,wght@0,300;0,400;1,400&display=swap');
height: 100vh;
width:100%;
cursor: pointer;
display: flex;
justify-content: center;
align-items: center;
background-image: url('https://free4kwallpapers.com/uploads/originals/2020/06/16/landscape-tombs-wallpaper.png');
background-size:cover;
}
.login-form{
    font-family: 'Times New Roman', Times, serif;
width: 380px;
height: 550px;
display: flex;
flex-direction: column;
background: rgba(255, 255, 255, 0.06);
box-shadow:0 8px 32px 0 rgba(240, 240, 240, 0.37);
border-radius: 35px;
border-left: 1px solid rgba(255, 255, 255,.3);
border-top: 1px solid rgba(255, 255, 255,.3);
}
.login-header{
font-size: 50px;
color:white;
text-align: center;
text-shadow: 2px 2px 4px rgba(199, 185, 185, 0.2);
letter-spacing: 3px;
}
.login-lable{
   
    margin-top: 2%;
    font-size: 20px;
    font-weight: bold;
    color:white;
    margin-left: 10%;
    /* opacity: 0.7; */
    text-shadow: 2px 2px 4px rgba(0,0,0,);
}
.login-input{
font-family:verdana;
width:70%;
padding: 10px;
margin-top: 10px;
margin-left: 35px;
margin-bottom: 20px;
border: none;
border-radius: 20px 40px;
background: transparent;
color:white;
border: 1px solid pink;
font-size: 23px;
letter-spacing: 3px;
opacity: .8;
}

.login-btn{
   margin-left: 45px;
    width: 70%;
    margin-top: 35px;
    color:white;
    font-size: 15px;
     background:rgba(255, 255, 255, 0.06);
    padding: 10px 30px;
    border:1px solid pink;
    border-radius: 20px 40px;
    outline: none;
    /* text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.2); */
    box-shadow: 3px 3px 5px rgba(31,38,135,.37);
    border-left: 1px solid (255, 255, 255,.3);
    border-top: 1px solid (255, 255, 255,.3);
    cursor: pointer;
}
.login-btn:hover{
color: black;
background-color: rgb(115, 112, 112);
}
.login-lable-pwd{
    margin-left: 110px;
    margin-top: 15px;
    padding: 10px;
    color:rgb(5, 123, 123);
    font-size: 17px;
}
.login-lable-pwd:hover{
color:rgb(9, 183, 183);
}